<div class="modal fade" id="createGroupModal" tabindex="-1" aria-labelledby="createGroupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createGroupModalLabel">Create Group</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Form inside modal -->
          <form  method="post" action="{% url "create_group" %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
              <label for="groupName" class="form-label">Group Name</label>
              <input type="text" class="form-control" id="groupName" placeholder="Enter group name" name="group_name" required>
            </div>
            <div class="mb-3">
              <label for="groupDescription" class="form-label">Group Description</label>
              <textarea class="form-control" id="groupDescription" placeholder="Enter group description" rows="3" name="group_description" required></textarea>
            </div>
            <div class="mb-3">
              <label for="profileImage" class="form-label">Profile Image</label>
              <input type="file" class="form-control" id="profileImage" name="group_profile" accept="image/*" required>
            </div>
            <div class="mb-3">
              <label for="coverImage" class="form-label">Cover Image</label>
              <input type="file" class="form-control" id="coverImage" name="group_coverpic" accept="image/*" required>
            </div>
            <div class="modal-footer">
                <button type="button" class="post-share-btn" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="post-share-btn">Create Group</button>
              </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>