<div class="post-settings-bar">
  <span></span>
  <span></span>
  <span></span>
  <div class="post-settings arrow-shape">
      <ul>
          {% if post.user == profile.user %}
              <li><button>Copy post link</button></li>
              <li><a href="" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Edit Post
              </a></li>
              <li><a href="{% url "delete_post" post.id "index" %}" >  Delete post</a></li>
              {% else %}
              <li><button>copy link to adda</button></li>
          {% endif %}
      </ul>
  </div>
   <!-- Modal start -->
   <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form enctype="multipart/form-data" method="post" action="{% url "edit_post" post.id "index" %}">
            {% csrf_token %}
            <div class="modal-body custom-scroll">
                <textarea name="update_body" class="share-field-big custom-scroll" placeholder="Say Something"></textarea>
                <input type="file" name="update_image" class="form-control" accept="image/*">
            </div>
            <div class="modal-footer">
              <button type="button" class="post-share-btn" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="post-share-btn">Save changes</button>
            </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>