<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
{% for post in  posts  %}
<div class="card">
    <!-- post title start -->
    {% if post.group %}
    <div class="post-title  align-items-center"">
        <!-- Header Section -->
        <div class="d-flex justify-content-between">
          <div class="d-flex">
            <!-- Group Profile Image -->
            <div class="position-relative mr-3">
              <img src="{% if post.group.profile_img %}{{post.group.profile_img.url}}{% endif %}" alt="Group Image" class="rounded" style="width: 50px; height: 50px;">
              <!-- User Profile Image (Positioned at the bottom-right corner of group profile) -->
              <img src="{% if post.user.profile.profile_picture %} {{post.user.profile.profile_picture.url}} {% endif %}" alt="User Image" class="rounded-circle position-absolute" style="width: 30px; height: 30px; bottom: 0; right: 0; border: 2px solid white;">
            </div>
  
            <!-- Group Name and User Info -->
            <div>
              <div class="font-weight-bold">{{post.group.name}}</div>
              <div class="small text-muted"> {{post.user.profile.full_name}} • {{post.created_at | timesince }} <i class="fa fa-globe"></i></div>
            </div>
          </div>
  
          <!-- Menu Button (3 dots) -->
         <div class="post-settings-bar">
             &#8942;
            <div class="post-settings arrow-shape">
                <ul>
                    {% if post.user == request.user %}
                        <li><button>Copy post link</button></li>
                        <li><button  
                            onclick="editPost('{{post.id}}', '{{post.body | escapejs}}', 'index')"
                            data-bs-toggle="modal" 
                            data-bs-target="#staticBackdrop_1">
                        Edit Post
                        </button></li>
                        <li><a href="{% url "delete_post" post.id "index" %}" >  Delete post</a></li>
                        {% else %}
                        <li><button>copy link to LazyVibes</button></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        </div>
      </div>
    {% else %}
    <div class="post-title d-flex align-items-center">
        <!-- profile picture end -->
        <div class="profile-thumb">
            <a href="#">
                <figure class="profile-thumb-middle">
                    <img src="{% if post.user.profile.profile_picture %} {{post.user.profile.profile_picture.url}} {% endif %}" alt="profile picture">
                </figure>
            </a>
        </div>
        <!-- profile picture end -->

        <div class="posted-author">
            <h6 class="author"><a href="{% url "other_profile" post.user.profile.id%}"> {{post.user.profile.full_name}} {% if post.group %} - {{ post.group.name}}{% endif %} </a></h6>
            <span class="post-time"> {{post.created_at | timesince }} ago</span>
        </div>
        <div class="post-settings-bar">
             &#8942;
            <div class="post-settings arrow-shape">
                <ul>
                    {% if post.user == request.user %}
                        <li><button>Copy post link</button></li>
                        <li><button  
                            onclick="editPost('{{post.id}}', '{{post.body | escapejs}}', 'index')"
                            data-bs-toggle="modal" 
                            data-bs-target="#staticBackdrop_1">
                        Edit Post
                        </button></li>
                        <li><a href="{% url "delete_post" post.id "index" %}" >  Delete post</a></li>
                        {% else %}
                        <li><button>copy link to LazyVibes</button></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}
    
    <!-- post title start -->
    <div class="post-content">
        <p class="post-desc">
            {{post.body}}
        </p>
        <div class="post-thumb-gallery">
            <figure class="post-thumb img-popup">
                <a href="{% if post.image %} {{post.image.url}} {% endif %}">
                    <img src="{% if post.image %} {{post.image.url}} {% endif %}" alt="post image">
                </a>
            </figure>
        </div>
        <div class="post-meta">
            <button onclick="postLike({{ post.id }})" class="post-meta-like">
                <i id="like_button{{post.id}}" class="bi bi-heart-fill {% if post.liked_by_user %}text-danger{% endif %} "></i>
                <span id="likes_count_{{ post.id }}" >{{post.total_likes}}</span>
                <strong>201</strong>
            </button>
            <ul class="comment-share-meta">
                <li>
                    <button onclick="addComment('{{post.id}}', 'index')" class="post-comment" data-bs-toggle="modal" data-bs-target="#staticBackdrop_2" >
                        <i class="bi bi-chat-dots"></i>
                        <span>{{post.total_comments}}</span>
                    </button>
                </li>
                <li>
                    <button class="post-share">
                        <i class="bi bi-share"></i>
                        <span>07</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endfor %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>